.contenedor {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1000px;
    align-items: stretch;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}