<div class="contenedor">
    <section class="section">
        <form [formGroup]="formCrear" (ngSubmit)="crear()">
            <div class="formulario">

                <div class="field">
                    <label class="label">Identificación Usuario</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" formControlName="identificacionUsuario" />
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                    <p class="help is-success">Documento de identificación</p>
                </div>

                <div class="field">
                    <label class="label">ID del equipo</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="number" formControlName="idEquipo" />
                        <span class="icon is-small is-left">
                        <i class="fas fa-computer"></i>
                      </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                    <p class="help is-success">Número de identificación del equipo a prestar</p>
                </div>

                <div class="field">
                    <label class="label">Días</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="number" formControlName="numeroDias" />
                        <span class="icon is-small is-left">
                        <i class="fas fa-calendar"></i>
                      </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                    <p class="help is-success">Cantidad de días que prestára el equipo</p>
                </div>

                <div class="control">
                    <button class="button is-primary" [disabled]="formCrear.invalid">Submit</button>
                </div>
            </div>

        </form>

    </section>

</div>