<div class="contenedor">
    <mat-form-field appearance="fill" [formGroup]="formCrear" (submit)="send()">
        <div>
            <mat-label for="identificacionUsuario">Identificación Usuario</mat-label>
            <input matInput id="identificacionUsuario" type="text" formControlName="identificacionUsuario">

            <mat-label for="idEquipo">Id Equipo</mat-label>
            <input matInput id="idEquipo" type="text" formControlName="idEquipo">

            <mat-label for="numeroDias">Numero de dias</mat-label>
            <input matInput id="numeroDias" type="text" formControlName="numeroDias">
        </div>

        <div>
            <button [disabled]="formCrear.invalid">Send</button>
        </div>
    </mat-form-field>
</div>

<div>
    Valido: {{formCrear.valid | json}}
</div>