<div class="contenedor">
    <section class="section">
        <form [formGroup]="equipoService.form" (ngSubmit)="actualizar()">
            <div class="formulario">

                <div class="field">
                    <label class="label">ID</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" formControlName="id" readonly="readonly" />
                        <span class="icon is-small is-left">
                      <i class="fas fa-barcode"></i>
                    </span>
                        <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                  </span>
                    </div>
                    <p class="help is-success">Id del equipo</p>
                </div>

                <div class="field">
                    <label class="label">Serial</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" formControlName="serial" />
                        <span class="icon is-small is-left">
                          <i class="fas fa-barcode"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                      </span>
                    </div>
                    <p class="help is-success">Serial del equipo</p>
                </div>

                <div class="field">
                    <label class="label">Marca</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" formControlName="marca" />
                        <span class="icon is-small is-left">
                        <i class="fas fa-laptop"></i>
                      </span>
                        <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                    </div>
                    <p class="help is-success">Marca del equipo</p>
                </div>

                <div class="field">
                    <label for="disponible">Disponibilidad</label>
                    <p class="control has-icons-left">
                        <span class="select">
                      <select id="select" class="required" formControlName="disponible"  [ngClass]="{'is-invalid':controlesFormulario.disponible.touched && controlesFormulario.disponible.errors}">
                        <option value="true" selected>Sí</option>
                        <option value="false">No</option>
                      </select>
                    </span>
                        <span class="icon is-small is-left">
                      <i class="fas fa-laptop"></i>
                    </span>
                    </p>
                </div>

                <div class="field">
                    <label for="tipoEquipo">Tipo Equipo</label>
                    <p class="control has-icons-left">
                        <span class="select">
                      <select id="select" class="form-control" formControlName="tipoEquipo" [ngClass]="{'is-invalid':controlesFormulario.tipoEquipo.touched && controlesFormulario.tipoEquipo.errors}">
                        <option selected>Básico</option>
                        <option>Gamer</option>
                      </select>
                      <div>
                        <div *ngIf="controlesFormulario.tipoEquipo.touched && controlesFormulario.tipoEquipo.errors">
                          <div *ngIf="controlesFormulario.tipoEquipo.errors.required">Tipo Equipo es requerido</div>                
                        </div>
                      </div>
                    </span>
                        <span class="icon is-small is-left">
                      <i class="fas fa-laptop"></i>
                    </span>
                    </p>
                </div>

                <div class="control">
                    <button class="button is-primary" [disabled]="equipoService.form.invalid">Submit</button>
                </div>
            </div>

        </form>

    </section>

</div>